*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  gap: 30px;
  padding: 133px 0;
}

.result {
  width: 100%;
  padding-top: 78px;
}

.result__video-container {
  position: relative;
  width: 100%;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list {
  position: relative;
  width: 399px;
  height: 298px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 1px;
  padding-top: 2px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:nth-of-type(2) {
  padding-bottom: 6px;
}

.search-form__textfield {
  appearance: none;
  display: block;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: rgba(255, 255, 255, 0.7);
  width: 225px;
  height: 27px;
  padding: 0;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
  outline-offset: 3px;
}

.search-form__textfield:active {
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 4px;
}

.search-form__checkbox-list {
  padding-top: 1px;
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.search-form__label {
  display: flex;
  padding: 0 1px;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: none;
  outline: 1px solid #fff;
}

.search-form__label:has(:focus-visible) .search-form__textfield:not(input) {
  border-top: none;
  border-bottom: none;
}

.search-form__fieldset:not(:first-child) .search-form__label:hover {
  text-decoration: underline #fff;
}

.search-form__label-text {
  margin-right: 0;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-color: transparent;
  outline: 1px solid #fff;
}

input[type='checkbox']:checked + span {
  background-color: #fff;
  outline: 1px solid #fff;
  border: 1px solid #1b1919;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
  background-color: transparent;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__submit-button:focus-visible {
  appearance: none;
  border: none;
  outline: double #fff;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.search-form__submit-button:hover {
  text-decoration: underline #fff;
}

.content__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content__video-card {
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-title::after {
  content: 'Вот, что видит кто-то из команды Практикума, когда не смотрит на код, а смотрит в окно.';
  display: block;
  width: 97%;
  color: #fff;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  text-transform: none;
  padding-top: 6px;
}

.content__video-card-description {
  display: none;
}

.content__card-link {
  display: block;
  text-decoration: none;
  width: 394px;
  margin-left: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title::first-line {
  text-decoration: 2px underline #fff;
  text-underline-offset: 3px;
}

.content__card-link:hover .content__video-card-title::after {
  text-decoration: 1px underline #fff;
  text-underline-offset: 1px;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__list-item {
  padding-bottom: 30px;
}

.content__video-card-descrition-container {
  width: 100%;
}

.content__video-card-thumbnail {
  display: block;
  width: 193px;
  height: 110px;
  object-fit: cover;
}

.more-button {
  background-color: transparent;
  width: 100%;
  height: 34px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.more-button:hover {
  text-decoration: underline #fff;
}

.more-button:active {
  background-color: #545050;
}

.more-button:focus-visible {
  appearance: none;
  outline: none;
  border: none;
  border: double #fff;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-top: 3px;
  padding-bottom: 23px;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
